@import "global";

// TODO
.helper {
  background: rgba(0,0,0,.04);
  line-height: 0;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  padding: 7px 5px 8px;
  border: 1px solid rgba(0,0,0,0.08);
  display: inline-block;
  margin-left: 5px;
}
