.keycode {
  background: rgb(0 0 0 / 4%);
  border: 1px solid rgb(0 0 0 / 8%);
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  line-height: 0;
  margin-left: 5px;
  padding: 7px 5px 8px;
  text-transform: uppercase;
}
