.m-0 {	margin: 0; }
.m-1 {	margin: 0.25rem; }
.m-2 {	margin: 0.5rem; }
.m-3 {	margin: 0.75rem; }
.m-4 {	margin: 1rem; }
.m-5 {	margin: 1.25rem; }
.m-6 {	margin: 1.5rem; }
.m-8 {	margin: 2rem; }
.m-10 {	margin: 2.5rem; }
.m-12 {	margin: 3rem; }
.m-16 {	margin: 4rem; }
.m-20 {	margin: 5rem; }
.m-24 {	margin: 6rem; }
.m-32 {	margin: 8rem; }
.m-40 {	margin: 10rem; }
.m-48 {	margin: 12rem; }
.m-56 {	margin: 14rem; }
.m-64 {	margin: 16rem; }

.mb-0 {	margin-bottom: 0; }
.mb-1 {	margin-bottom: 0.25rem; }
.mb-2 {	margin-bottom: 0.5rem; }
.mb-3 {	margin-bottom: 0.75rem; }
.mb-4 {	margin-bottom: 1rem; }
.mb-5 {	margin-bottom: 1.25rem; }
.mb-6 {	margin-bottom: 1.5rem; }
.mb-8 {	margin-bottom: 2rem; }
.mb-10 {	margin-bottom: 2.5rem; }
.mb-12 {	margin-bottom: 3rem; }
.mb-16 {	margin-bottom: 4rem; }
.mb-20 {	margin-bottom: 5rem; }
.mb-24 {	margin-bottom: 6rem; }
.mb-32 {	margin-bottom: 8rem; }
.mb-40 {	margin-bottom: 10rem; }
.mb-48 {	margin-bottom: 12rem; }
.mb-56 {	margin-bottom: 14rem; }
.mb-64 {	margin-bottom: 16rem; }
