::-webkit-scrollbar {
  background: var(--background);
  display: block;
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--background-second);
  border-radius: 4px;
}

* {
  appearance: none;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  color-scheme: light;
  text-size-adjust: 100%;

  /* stylelint-disable selector-no-qualifying-type */
  &[data-theme="dark"] {
    color-scheme: dark;
  }
}

html,
body,
section {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--text);
  line-height: 1.15;
  margin: 0;
  overflow-y: scroll;
}

main {
  flex: 1 0 auto;
}

section {
  display: flex;
  flex-direction: column;
}
