:root[data-theme="dark"] {
  --background: #282627;
  --background-second: #313131;
  --text: #e0e0e0;
  --text-second: #464445;
  --accent: #ff633c;
}

:root[data-theme="light"] {
  --background: #f2f2f2;
  --background-second: #fdfdfd;
  --text: #444341;
  --text-second: #d6d6d6;
  --accent: #ff633c;
}
