{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ],
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "no-console": "off",
    "import/no-cycle": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "yoda": ["error", "never"],
    "no-param-reassign": "off",
    "no-unused-vars": [
      "error", {
        "varsIgnorePattern": "^h$"
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "": "never",
        "js": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}
