{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "no-console": "off",
    "import/no-cycle": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "yoda": ["error", "always"]
  }
}
