.feed-statistics {
  position: relative;
}

.feed-statistics__now {
  font-size: 4em;
  position: relative;

  &::before {
    background: var(--accent);
    border-radius: 50%;
    content: "";
    height: 10px;
    left: -20px;
    position: absolute;
    top: calc(50% - 5px);
    width: 10px;
  }
}

.feed-statistics__all {
  color: var(--text-second);
  font-size: 2em;
  text-align: right;
}
