.home-page-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.home-page-footer__left {
  align-self: flex-end;
}

.home-page-footer__right {
  align-items: center;
  display: flex;
}

.package-version {
  font-size: 0.8em;
  font-style: italic;
  user-select: none;
}
