.home-page-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.home-page-header__left {
  margin-left: 10px;
}

.page-button_settings {
  cursor: pointer;
  display: block;
  height: 55px;
  padding: 10px;
  width: 55px;
  color: var(--text);
}

.home-page-header__right {
  font-weight: bold;
  margin: 15px 30px 0 10px;
}
