* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--theme-layout);
  color: var(--theme-color);
  font-family: var(--font-family);
  font-size: 14px;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --btn-color: #495069;
}

button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid var(--theme-layout);
  padding: 8px 20px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  outline: 0;
  cursor: pointer;
  font-family: var(--font-family);
  color: var(--theme-color);
  background-color: var(--btn-color);
}

input, textarea {
  min-width: 200px;
  padding: 10px;
  background: var(--btn-color);
  color: rgba(var(--text), 1);
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  border: 0;
}

textarea {
  resize: vertical;
  min-height: 200px;
  max-height: 500px;
}

[to] {
  cursor: pointer;
}
