#app {
  position: relative;
}

#h-top-left {
  position: absolute;
  top: 30px;
  left: 30px;
}

#h-top-right {
  display: flex;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  user-select: none;
  > * {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
}

#h-bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#h-deck-name {
  padding: 5px 20px;
  margin-right: 25px;
  background-color: rgba(0, 0, 0, .1);
  transition: background-color .2s;
  &:hover {
    background-color: rgba(0, 0, 0, .3);
  }
}

#h-settings {
  padding: 5px;
}

.h-bottom-link {
  display: block;
  padding: 10px;
}

.h-action {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 30px;
  transition: background-color .2s;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, .2);
  }
}

.h-statistics {
  display: flex;
  align-items: center;
  > span {
    margin-left: 10px;
  }
}

.h-wrap {
  display: flex;
  justify-content: center;
  min-height: 100%;
}

#h-action-card {
  max-width: 800px;
  margin: 120px 50px 80px;
  line-height: 1.8;
  width: 100%;
}

#h-question {
  margin-bottom: 60px;
  color: var(--theme-primary);
  cursor: pointer;
  &.clicked {
    cursor: auto;
  }
}

#h-answer {
  color: var(--theme-color-secondary);
  opacity: 0;
  transition: .2s;
}
