:root {
  --theme-color: #fff;
  --theme-color-secondary: rgba(255, 255, 255, .87);
  --theme-layout: #222831;
  --theme-primary: #85dcfe;
  --shadow-opacity: .75;
  --font-family: JetBrainsMono, monospace;

  --radius: 20px;
  --text: 255, 255, 255;
  --background: 30, 32, 35;
  --background-opacity: .6;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: block;
  background: var(--theme-layout);
}

::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 4px;
}
