.card-vocabulary-question {
  cursor: pointer;
  font-size: 6em;
  font-weight: bold;
  text-align: center;

  &.card-vocabulary-question_clicked {
    cursor: auto;
  }
}

.card-vocabulary-answer {
  align-items: center;
  border-radius: 20px;
  color: var(--text);
  display: none;
  font-size: 3em;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 5px;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;

  &.card-vocabulary-answer_displayed {
    display: flex;

  }
}
